php_value display_errors On
php_value mbstring.http_input auto
php_value date.timezone Europe/Budapest

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ shopping-planner/public_html/index.php [QSA,L]
