service: shopping-planner

provider:
  name: aws
  region: eu-north-1
  runtime: provided.al2
  httpApi:
    payload: '2.0'
  environment:
    APP_ENV: prod
    S3_BUCKET: shopping-planner-thumbnails-eu-north-1

functions:
  web:
    handler: web/index.php
    runtime: php-82-fpm
    events:
      - httpApi: '*'

plugins:
  - ./vendor/bref/bref
